.kp-control-button-container.kp-control-play-pause .kp-control-button {
    transition: 400ms transform;

    .kp-icon-pause {
        transition: 400ms opacity;
        opacity: 0;
        display: none;
    }
    .kp-icon-play {
        transition: 400ms opacity;
        opacity: 1;
        display: block;
    }

    &.kp-is-playing {
        transform: rotate(360deg);

        .kp-icon-pause {
            opacity: 1;
            display: block;
        }
        .kp-icon-play {
            opacity: 0;
            display: none;
        }
    }
}

.kp-touch {
  .kp-control-button-container.kp-control-play-pause {
    display: none;
  }
}

.kp-player.kp-size-sm {
  .kp-control-button-container.kp-control-play-pause {
    display: none;
  }
}
