.control-button-container.control-play-pause .control-button {
  transition: 400ms transform;

  .icon-pause {
    transition: 400ms opacity;
    opacity: 0;
    display: none;
  }
  .icon-play {
    transition: 400ms opacity;
    opacity: 1;
    display: block;
  }

  &.is-playing {
    transform: rotate(360deg);

    .icon-pause {
      opacity: 1;
      display: block;
    }
    .icon-play {
      opacity: 0;
      display: none;
    }
  }
}

.touch {
  .control-button-container.control-play-pause {
    display: none;
  }
}

.player.size-sm {
  .control-button-container.control-play-pause {
    display: none;
  }
}
