@import '~styles/variables';

.cue-point-container {
  position: absolute;
  height: inherit;
  padding: 12px 0 12px + $progress-bar-height 0;
  margin: -12px 0;

  &:hover {
    .cue-point-preview-container {
      display: block;
    }
  }
}

.cue-point {
  height: inherit;
  width: $progress-bar-height;
  background-color: $white;
}

.left-border-radius {
  border-radius: $progress-bar-border-radius 0 0 $progress-bar-border-radius;
}

.right-border-radius {
  border-radius: 0 $progress-bar-border-radius $progress-bar-border-radius 0;
}

.cue-point-preview-container {
  display: none;
  position: absolute;
  bottom: $progress-bar-height + 24px;
}

.seek-bar.resizing {
  .cue-point-container {
    display: none;
  }
}

