$base-height: 10px;

.badge {
  height: $base-height;
  width: 15px;
  background-color: white;
  color: black;
  border-radius: 1px;
  font-size: 9px;
  text-transform: uppercase;
  margin-left: 3px;
  line-height: $base-height !important;
  text-align: center;
  vertical-align: top !important;
}
