.badge {
  height: 10px;
  width: 15px;
  background-color: white;
  color: black;
  border-radius: 1px;
  font-size: 9px;
  text-transform: uppercase;
  margin-left: 3px;
  margin-top: 2px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}
