.badge {
  height: 10px;
  width: 15px;
  background-color: white;
  color: black;
  border-radius: 1px;
  font-size: 9px;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -3px;
  right: -3px;

  &.badge-active {
    background-color: $brand-color;
  }

  &.icon-badge {
    top: 3px;
    right: -1px;
  }
}
