{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
