@import '~styles/variables';

.player .bottom-bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  color: #fff;
  visibility: hidden;
  height: auto;
  max-height: 0;
  transition: #{$hover-animation-time}ms max-height ease-in-out, #{$hover-animation-time}ms visibility ease-in-out;
  width: 100%;
  margin-top: auto;
  -ms-align-self: flex-end;
  align-self: flex-end;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  position: relative;
  padding: 0 $gui-gutter 4px;

  &.hide {
    display: none;
  }

  .left-controls {
    float: left;
    text-align: left;

    .control-button-container:first-child {
      margin-left: 0px;
    }
  }

  .right-controls {
    float: right;
    text-align: left;

    .control-button-container:last-child {
      margin-right: 0px;
    }
  }

  .control-button-container {
    margin: 0 6px;
  }
}

.player {
  &.size-ty {
    .left-controls {
      display: none;
    }
    .control-button-container {
      display: none;
      margin: 0;
    }
  }
  &.size-xs {
    .left-controls {
      .control-button-container {
        display: none;
      }
    }
  }
  &.size-xs,
  &.size-sm {
    .control-button-container {
      margin: 0 3px;
    }
  }
}

.player.casting,
.player.metadata-loaded.hover,
.player.state-paused,
.player.state-idle,
.player.ad-break,
.player.menu-active {
  &:not(.overlay-active){
    .bottom-bar {
      visibility: visible;
      max-height: #{$bottom-bar-max-height}px;
      &.line-break {
        max-height: 92px;
      }
    }
  }
}

.player.size-sm {
  .bottom-bar {
    padding: 0 $gui-small-gutter 4px;

    .time-display {
      padding-left: 0;
    }
  }
}
