.player .bottom-bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  padding: 6px 16px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 100ms opacity;
  width: 100%;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  .left-controls {
    float: left;
    text-align: left;

    .control-button-container:first-child {
      margin-left: 0px;
    }
  }
  .right-controls {
    float: right;
    text-align: left;

    .control-button-container:last-child {
      margin-right: 0px;
    }
  }

  .control-button-container {
    margin: 0 6px;
  }
}

.player.casting .bottom-bar,
.player.hover .bottom-bar,
.player.state-paused .bottom-bar,
.player.state-idle .bottom-bar,
.player.ad-break .bottom-bar,
.player.menu-active .bottom-bar {
  opacity: 1;
  visibility: visible;
}

.player.overlay-active .bottom-bar {
  opacity: 0;
  visibility: hidden;
}

.player.size-sm {
  .bottom-bar {
    padding: 6px 8px;

    .time-display {
      padding-left: 0;
    }
  }
}
