.player .bottom-bar {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    padding: 6px 16px;
    color: #fff;
    opacity: 0;
    transition: 100ms opacity;
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0; left: 0;

    .left-controls {
        float: left;
        text-align: left;

        &:first-child {
          margin-left: 0px;
        }
    }
    .right-controls {
        float: right;
        text-align: left;

        .control-button-container {
            margin: 0 6px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.player.hover .bottom-bar,
.player.state-paused .bottom-bar,
.player.menu-active .bottom-bar {
    opacity: 1;
}

.player.overlay-active .bottom-bar {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .player .bottom-bar {
    padding: 6px 8px;
  }
}
