@import '~styles/variables';

.player {
  .cast-button {
    display: block;
    width: 28px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    --disconnected-color: #{$grayscale4};
    --connected-color: #{$grayscale4};

    &:hover {
      --disconnected-color: #{$white};
      --connected-color: #{$white};
    }
  }

  .cast-button-active {
    @extend .cast-button;
    --connected-color: rgba(1, 172, 205, 0.8);

    &:hover {
      --connected-color: #{$brand-color};
    }
  }
}
