.player {
  .cast-button {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    --connected-color: rgba(1, 172, 205, 0.8);
    --disconnected-color: $grayscale4;
  }

  .cast-button:hover {
    --disconnected-color: $white;
    --connected-color: $brand-color;
  }
}
