@import '~styles/variables';

.player {
  .cast-button {
    display: block;
    width: 28px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    --connected-color: #{$grayscale4};
    --disconnected-color: #{$grayscale4};

    &:hover {
      --connected-color: #{$white};
      --disconnected-color: #{$white};
    }

    &.cast-button-active {
      --connected-color: rgba(1, 172, 205, 0.8);
  
      &:hover {
        --connected-color: #{$brand-color};  
      }
    }
  }
}
