.player {
  .cast-button {
    display: block;
    width: 28px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    --connected-color: var(--playkti-tone-2-color);
    --disconnected-color:  var(--playkit-tone-2-color);

    &:hover {
      --connected-color: #FFFFFFFF;
      --disconnected-color: #FFFFFFFF;
    }

    &.cast-button-active {
      --connected-color: rgba(1, 172, 205, 0.8);

      &:hover {
        --connected-color: var(--playkit-primary-color);
      }
    }
  }
}
