.kp-control-button-container.kp-control-fullscreen {
  .kp-control-button {
    transition: 100ms transform;
    transform: scale(1);

    .kp-icon-minimize {
      display: none;
    }

    &.kp-is-fullscreen {
      .kp-icon-maximize {
        display: none;
      }
      .kp-icon-minimize {
        display: block;
      }
    }
  }
}

.kp-player:not(.kp-touch) {
  .kp-control-button-container.kp-control-fullscreen .kp-control-button:hover {
    transform: scale(1.1);
  }
}
