.control-button-container.control-fullscreen {
  .control-button {
    transition: 100ms transform;
    transform: scale(1);

    .icon-minimize {
      display: none;
    }

    &.is-fullscreen {
      .icon-maximize {
        display: none;
      }
      .icon-minimize {
        display: block;
      }
    }
  }
}

.player:not(.touch) {
  .control-button-container.control-fullscreen .control-button:hover {
    transform: scale(1.1);
  }
}

.native-tablet-fullscreen video {
  width: auto;
  height: auto;
}
