.player {
  .control-button-container.control-fullscreen {
    .control-button {
      transition: 100ms transform;
      transform: scale(1);

      .icon-minimize {
        display: none;
      }

      &.is-fullscreen {
        .icon-maximize {
          display: none;
        }
        .icon-minimize {
          display: block;
        }
      }

      &:focus {
        outline: 2px solid $tab-focus-color !important;
        box-shadow: 0 0 0 2px white !important;
        outline-offset: 2px;
      }
    }
  }
}

.player:not(.touch) {
  .control-button-container.control-fullscreen .control-button:hover {
    transform: scale(1.1);
  }
}
