.in-browser-fullscreen-mode {
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 999999 !important;
}

.player {
  .control-button-container.control-fullscreen {
    .control-button {
      transition: 100ms transform;
      transform: scale(1);

      .icon-minimize {
        display: none;
      }

      &.is-fullscreen {
        .icon-maximize {
          display: none;
        }
        .icon-minimize {
          display: block;
        }
      }
    }
  }
}

.player:not(.touch) {
  .control-button-container.control-fullscreen .control-button:hover {
    transform: scale(1.1);
  }
}
