@import '../../styles/variables';

.media-info-display {
  position: absolute;
  left: 0;
  right: 0;
  padding: 24px;

  &.media-info-top {
    top: 0;
  }

  &.media-info-bottom {
    bottom: 0;
  }

  .media-info-duration {
    width: 54px;
    height: 28px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .time-display {
      width: 48px !important;
      height: 16px !important;
      font-family: Lato, sans-serif !important;
      font-weight: 700 !important;
      font-size: 16px !important;
      line-height: 16px !important;
      letter-spacing: 0 !important;
      color: rgba(255, 255, 255, 1) !important;
      text-align: center !important;
      white-space: nowrap !important;
      padding: 0 !important;
      display: block !important;
      vertical-align: baseline !important;
    }
  }

  .media-info-details {

    .media-info-title {
      width: 600px;
      height: 32px;
      max-width: 600px;
      //opacity: 1;
      font-family: Lato, sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0;
      color: rgba(255, 255, 255, 1);
      margin-top: 0;
      margin-bottom: 12px;
    }

    .media-info-description {
      width: 600px;
      min-height: 42px;
      max-width: 600px;
      opacity: 1;
      font-family: Lato, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0;
      color: rgba(255, 255, 255, 1);

      .see-more {
        font-family: Lato, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0;
        color: rgba(255, 255, 255, 1);
        text-decoration: underline;
        text-decoration-style: solid;
        cursor: pointer;
      }
    }
  }
}
