.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #2196f3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + .slider:before {
      transform: translateX(14px);
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
    }
  }

  .slider {
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: '';
      height: 12px;
      width: 12px;
      left: 3px;
      top: 2px;
      background-color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border-radius: 50%;
    }
  }
}
