.player-gui > .playback-controls,
.center-playback-controls {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
}

.bottom-bar .playback-controls {
  display: inline;
}

.player {
  &.size-sm,
  &.size-xs,
  &.touch {
    &.state-idle .control-playlist-button {
      display: none;
    }

    &:not(.state-idle) {
      .bottom-bar .playback-controls {
        display: none;
      }

      &.hover {
        .player-gui > .playback-controls,
        .center-playback-controls {
          display: block;

          .control-button {
            width: auto;
            height: auto;
            padding: 0 16px;
            -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
          }
          .icon {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }

  &.overlay-active .gui-area .playback-controls {
    opacity: 0;
    visibility: hidden;
  }
}
