.btn {
  text-decoration: none;
  height: 36px;
  border-radius: 18px;
  color: #fff;
  line-height: 36px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 0 24px;

  &:focus {
    outline: none;
  }

  &.btn-block {
    display: block;
  }

  &.btn-dark-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    line-height: 32px;

    &:hover {
      color: #fff;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  &.btn-branded {
    background-color: $brand-color;

    &:hover {
      color: #fff;
    }
  }
}

.btn-rounded {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 2px;
}
