.player {
  &.overlay-active {
    :global(.playkit-subtitles) {
      display: none;
    }
  }
  :global(.playkit-subtitles) {
    transform: translateY(0px);
    transition: ease-in 100ms;
  }
  &:not(.overlay-active) {
    &.state-paused :global(.playkit-subtitles),
    &:hover :global(.playkit-subtitles),
    &.hover :global(.playkit-subtitles) {
      transform: translateY(-60px);
      transition: ease-out 100ms;
    }
  }
}
