video::cue {
  background-color: transparent;
  font-family: $font-family;
}
.kp-player.kp-captions-yellow-text {
  video::cue {
    color: #FAFF00;
  }
}
.kp-player.kp-captions-black-bg {
  video::cue {
    background-color: #000;
  }
}

.kp-player {
  video::-webkit-media-text-track-display {
    transform: translateY(0px);
    transition: ease-in 100ms;
  }
  &.kp-state-paused video::-webkit-media-text-track-display,
  &.kp-hover video::-webkit-media-text-track-display {
    transform: translateY(-60px);
    transition: ease-out 100ms;
  }
}
