$hovering-offset: 50px;

.player {
  video::-webkit-media-text-track-container {
    max-height: none;
  }
  &.iOS {
    video::-webkit-media-text-track-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &.state-paused video::-webkit-media-text-track-container,
  &.hover video::-webkit-media-text-track-container {
    padding: 0 0 $hovering-offset 0;
  }
  &.state-paused.Safari video::-webkit-media-text-track-container,
  &.hover.Safari video::-webkit-media-text-track-container {
    padding: initial;
    max-height: calc(100% - #{$hovering-offset});
  }
  &.fullscreen.iOS {
    video::-webkit-media-text-track-container {
      max-height: none;
    }
  }
  &.overlay-active {
    :global(.playkit-subtitles) {
      display: none;
    }
  }
  :global(.playkit-subtitles) {
    top: $hovering-offset;
    transform: translateY(0px);
    transition: ease-in 100ms;
  }
  &:not(.overlay-active) {
    &.state-paused :global(.playkit-subtitles),
    &.hover :global(.playkit-subtitles) {
      transform: translateY(-$hovering-offset);
    }
    &.fullscreen.iOS {
      :global(.playkit-subtitles) {
        transform: translateY(0px);
      }
    }
  }
}
