.player .control-button {
  width: 32px; height: 32px;
  background: transparent;
  display: inline-block;
  opacity: 0.8;
  border: none;
  padding: 0;
  cursor: pointer;

  i {
    width: 32px;
    height: 32px;
  }

  &.active {
    opacity: 1;
  }

  &.control-button-rounded {
    width: 36px; height: 36px;
    padding: 2px;
  }
}

.player:not(.touch) {
  .control-button {
    &:hover {
      opacity: 1;
    }
    &.control-button-rounded:hover {
      background-color: rgba(0,0,0,0.4);
      border-radius: 18px;
    }
  }
}


.player .control-button-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.player.touch {
  .player .control-button-container {
    position: static;
  }
  .control-button {
    position: relative;
  }
}
