@keyframes openDropmenu {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform : translateY(0); }
}

.dropdown {
  position: relative;
  font-size: 15px;

  &.active {
    .dropdown-menu {
      display: block;
      opacity: 1;
    }
    .dropdown-button .icon {
      transform: rotate(180deg);
    }
  }

  .dropdown-button {
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    padding-left: 20px;

    .icon {
      width: 16px; height: 16px;
      fill: #fff;
      vertical-align: middle;
      margin-left: 6px;
      transition: 150ms transform;
      will-change: transform;
    }
  }

}
.dropdown-menu {
  display: block;
  opacity: 1;
  position: absolute;
  background-color: #333333;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
  border-radius: 4px;
  padding: 6px 0;
  z-index: 5;
  animation: openDropmenu 100ms ease-out forwards;
  max-height: 173px;
  overflow-y: auto;
  font-size: 15px;

  &.top { margin-bottom: 10px; bottom: 100%; }
  &.bottom { margin-top: 10px; top: 100%; }
  &.right { left: 0; }
  &.left { right: 0; }

  .dropdown-menu-item {
    padding: 2px 10px 2px 16px;
    white-space: nowrap;
    min-height: 30px;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    &.active {
      color: $brand-color;
      fill: $brand-color;
    }
    .check-icon {
      display: inline-block;
      margin-left: 16px;
      vertical-align: middle;
      width: 24px; height: 24px;
    }
    span {
      vertical-align: middle;
      line-height: 26px;
    }
  }
}
