.form-group {
  margin: 10px 0;
  position: relative;
  max-width: 100%;

  &.has-error .form-control {
    border-color: $danger-color;

    &:focus {
      border-color: #fff;
    }
  }

  &.has-icon {
    .form-control {
      padding-left: 34px;
    }
  }

  .icon {
    position: absolute;
    top: 2px; left: 2px;
    width:32px; height:32px;
    fill: rgba(255,255,255,0.4);
  }
}
.form-control {
	height: 36px;
  width: 100%;
  min-width: 72px;
	border: 2px solid rgba(255,255,255,0.2);
	border-radius: 4px;
	background-color: rgba(0,0,0,0.4);
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 8px 10px;
  text-overflow: ellipsis;

  &::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
  }

  &:focus {
    background-color: #fff;
    border-color: #fff;
    color: $grayscale1;

    &::-webkit-input-placeholder {
      color: $grayscale4;
    }

    + .icon {
      fill: $grayscale3;
    }
  }
}

textarea.form-control {
  min-height: 72px;
}

select {
  font-size: 15px;
  font-family: $font-family;
  color: #fff;
  -webkit-appearance: none;
  background: none;
  border: 0;
}

.checkbox {
  font-size: 15px;
}
