.player {
  .form-group {
    margin: 10px 0;
    position: relative;
    max-width: 100%;

    &.has-error .form-control {
      border-color: $danger-color;

      &:focus {
        border-color: #fff;
      }
    }

    &.has-icon {
      .form-control {
        padding-left: 34px;
      }
    }

    .icon {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 32px;
      height: 32px;
      fill: rgba(255, 255, 255, 0.4);
    }
  }

  .form-control {
    height: 36px;
    width: 100%;
    min-width: 72px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding: 8px 10px;
    text-overflow: ellipsis;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      background-color: #fff;
      border-color: #fff;
      color: $grayscale1;

      &::-webkit-input-placeholder {
        color: $grayscale4;
      }

      + .icon {
        fill: $grayscale3;
      }
    }
  }

  textarea.form-control {
    min-height: 72px;
  }

  select {
    font-size: 15px;
    font-family: $font-family;
    color: #fff;
    -webkit-appearance: none;
    border: 0;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' viewBox='0 0 1024 1024'><path d='M301.255 338.745c-24.994-24.994-65.516-24.994-90.51 0s-24.994 65.516 0 90.51l256 256c24.994 24.994 65.516 24.994 90.51 0l256-256c24.994-24.994 24.994-65.516 0-90.51s-65.516-24.994-90.51 0l-210.745 210.745-210.745-210.745z' /></svg>")
      no-repeat;
    background-size: 16px;
    background-position: 100% center;
    background-repeat: no-repeat;
    padding-right: 24px;
  }
}

.checkbox {
  font-size: 15px;
  position: relative;

  input {
    display: none;
  }
  label:before {
    height: 16px;
    width: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 8px;
    display: inline-block;
    content: '';
    vertical-align: middle;
  }
  input:checked + label:before {
    content: '✔';
  }
}

.form-group-row {
  font-size: 15px;
  margin: 24px 0;

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  label {
    float: left;
    color: rgba(244, 244, 244, 0.8);
  }
  .dropdown {
    float: right;
  }
}
