a {
  color: #01ACCD;
  text-decoration: underline;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;

  &:hover {
    color: darken($brand-color, 10%);
  }
  &:active {
    opacity: 0.7;
  }
}
