.player {
    overflow: hidden;
    user-select: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    &:-webkit-full-screen {
      width: 100%; height: 100%;
      max-width: none;
    }
    * {
        box-sizing: border-box;
        outline: none;
    }
    &.keyboard-focused [tabindex='0']:focus {
      box-shadow: inset 0 0 0 2px rgba(1,172,205,.8);
    }
    ::selection {
      background-color: rgba(0,0,0,0.1);
    }
    video {
        width: 100%;
    }
    .player-gui {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; height: 100%;
        opacity: 0;
        overflow: hidden;
        font-size: 0;
        font-family: $font-family;

        input, textarea, button {
          font-family: $font-family;
        }
    }
    #overlay-portal {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
    }
    &.metadata-loaded .player-gui,
    &.state-paused .player-gui,
    &.overlay-active .player-gui,
    &.menu-active .player-gui {
      opacity: 1;
    }
}

video {
    &::-webkit-media-controls {
        display:none !important;
        -webkit-appearance: none;
    }

    &::-webkit-media-controls-start-playback-button {
        display: none!important;
        -webkit-appearance: none;
    }
}
