.player {
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:-webkit-full-screen {
    width: 100%;
    height: 100%;
    max-width: none;
  }
  * {
    box-sizing: border-box;
    outline: none;
  }
  ::selection {
    background-color: rgba(0, 0, 0, 0.1);
  }
  video {
    width: 100%;
  }
  .player-gui {
    opacity: 0;
    overflow: hidden;
    font-size: 0;
    font-family: $font-family;

    label {
      margin-bottom: initial;
    }

    input,
    textarea {
      font-family: $font-family;
    }
  }
  :global(.overlay-portal) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.overlay-active :global(.overlay-portal) {
    z-index: 11;
  }
  &.casting .player-gui,
  &.metadata-loaded .player-gui,
  &.state-paused .player-gui,
  &.ad-break .player-gui,
  &.overlay-active .player-gui,
  &.menu-active .player-gui {
    opacity: 1;
  }
}

.player.nav {
  .control-button,
  .seek-bar,
  .dropdown-button,
  .smart-container-item,
  .dropdown-menu-item,
  .pre-playback-play-button,
  .sample,
  .custom-captions-applied > a,
  .form-group-row > a,
  .button-save-cvaa,
  .slider,
  .unmute-button-container,
  .live-tag {
    &:focus {
      outline: 1px solid $tab-focus-color;
    }
  }
}

.player :global([id^='playkit-ads-container']) {
  &:global([data-adtype='overlay']) {
    z-index: 1;
  }
  transition: transform 100ms;
}

.player:not(.ad-break).metadata-loaded {
  &.hover :global([id^='playkit-ads-container']),
  &.state-paused :global([id^='playkit-ads-container']) {
    transform: translateY(-60px);
  }
}

video {
  left: 0;

  &::-webkit-media-controls-panel-container,
  &::-webkit-media-controls {
    display: none !important;
    -webkit-appearance: none;
  }

  &::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
  }
}
