.kp-tooltip {
  display: inline-block;
  height: 22px;
	border-radius: 4px;
	background-color: #FFFFFF;
  padding: 3px 13px;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
}
