.row {
  display: block;

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.d-inline-block {
  display: inline-block;
}

.mobile-hidden-select {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
}

.font-size-base {
  font-size: 15px;
}
