@import 'exported';

// Static (Compile time) Variables
$brand-color: #006bff;      // - refs in code and related-plugin
$white: #ffffff;            // - refs in code and related-plugin
//$live-color: #da1f26;     - deprecated - related-plugin ref

$headline-font-size: 18px;
$subheadline-font-size: 14px;
$tooltip-margin: calc(100% + 10px);
$tooltip-arrow-height: 4px;
$tooltip-arrow-width: 5px;
$tooltip-semi-side-margin: 16px;
$tooltip-semi-side-arrow-margin: 11px;
$font-family: Lato, Helvetica Neue, Segoe UI, sans-serif;
$progress-bar-height: 4px;
$progress-bar-border-radius: $progress-bar-height / 2;
$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56),
rgb(252, 210, 3);
$default-transition-time: 500;
$default-hovering-offset: 60px;
$hover-animation-time: 100;
$top-bar-max-height: 60;
$top-bar-top-bottom-gutter: 14;
$bottom-bar-max-height: 60;
$bottom-bar-bottom-gutter: 4;
$gui-gutter: 16;
$gui-small-gutter: 8;
$blur: 16px;

// Dynamic (Runtime) Variables
.player {
  // HSL args
  --playkit-primary-hsl-hue: #{hue($brand-color)};
  //--playkit-primary-hsl-hue: 215deg;
  --playkit-secondary-hsl-hue: 40deg;
  --playkit-success-hsl-hue: 136deg;
  --playkit-danger-hsl-hue: 355deg;
  --playkit-warning-hsl-hue: 21deg;

  --playkit-hsl-saturation: 100%;
  --playkit-hsl-lightness: 50%;

  // Accent Colors
  --playkit-primary-color: hsl(var(--playkit-primary-hsl-hue) var(--playkit-hsl-saturation) var(--playkit-hsl-lightness));
  --playkit-primary-darker-color: hsl(var(--playkit-primary-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) - 15%));
  --playkit-primary-brighter-color: hsl(var(--playkit-primary-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) + 15%));
  --playkit-primary-text-contrast-color: #ffffff;

  --playkit-secondary-color: hsl(var(--playkit-secondary-hsl-hue) var(--playkit-hsl-saturation) var(--playkit-hsl-lightness));
  --playkit-secondary-darker-color: hsl(var(--playkit-secondary-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) - 15%));
  --playkit-secondary-brighter-color: hsl(var(--playkit-secondary-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) + 15%));
  --playkit-secondary-text-contrast-color: #ffffff;

  // Acknowledgement Colors
  --playkit-success-color: hsl(var(--playkit-success-hsl-hue) var(--playkit-hsl-saturation) var(--playkit-hsl-lightness));
  --playkit-success-darker-color: hsl(var(--playkit-success-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) - 15%));
  --playkit-success-brighter-color: hsl(var(--playkit-success-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) + 15%));
  --playkit-success-text-contrast-color: #ffffff;

  --playkit-danger-color: hsl(var(--playkit-danger-hsl-hue) var(--playkit-hsl-saturation) var(--playkit-hsl-lightness));
  --playkit-danger-darker-color: hsl(var(--playkit-danger-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) - 15%));
  --playkit-danger-brighter-color: hsl(var(--playkit-danger-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) + 15%));
  --playkit-danger-text-contrast-color: #ffffff;

  --playkit-warning-color: hsl(var(--playkit-warning-hsl-hue) var(--playkit-hsl-saturation) var(--playkit-hsl-lightness));
  --playkit-warning-darker-color: hsl(var(--playkit-warning-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) - 15%));
  --playkit-warning-brighter-color: hsl(var(--playkit-warning-hsl-hue) var(--playkit-hsl-saturation) calc(var(--playkit-hsl-lightness) + 15%));
  --playkit-warning-text-contrast-color: #ffffff;

  // Tone Ramp
  --playkit-tone-1-color: #ffffff;
  --playkit-tone-2-color: #cccccc;
  --playkit-tone-3-color: #999999;
  --playkit-tone-4-color: #888888;
  --playkit-tone-5-color: #666666;
  --playkit-tone-6-color: #444444;
  --playkit-tone-7-color: #222222;
  --playkit-tone-8-color: #000000;

  --playkit-live-color: #e12536;
  --playkit-player-background-color: #000000;
  --playkit-tab-focus-color: var(--playkit-primary-color);
  --playkit-tooltip-background-color: var(--playkit-tone-1-color);
  --playkit-tooltip-color: var(--playkit-tone-7-color);
  --playkit-ads-color: var(--playkit-secondary-color);
}

:export {
  brandColor: $brand-color;
  white: $white;
  progressBarHeight: $progress-bar-height;
  progressBarBorderRadius: $progress-bar-border-radius;
  defaultTransitionTime: $default-transition-time;
  bottomBarMaxHeight: $bottom-bar-max-height;
}
