$brand-color: #01accd;
$tab-focus-color: #00cbff;
$white: #ffffff;
$grayscale1: #333;
$grayscale2: #424242;
$grayscale3: #999;
$grayscale4: #ccc;
$headline-font-size: 18px;
$subheadline-font-size: 14px;
$success-color: #009444;
$danger-color: #db1f26;
$ads-color: #f9a71b;
$live-color: #da1f26;
$tooltip-bg-color: #fff;
$tooltip-color: $grayscale1;
$font-family: sans-serif;
$progress-bar-height: 4px;
$progress-bar-border-radius: $progress-bar-height / 2;
$spinner-circle-radius: 4px;
$spinner-colors: rgb(218, 31, 38), rgb(6, 168, 133), rgb(0, 147, 68), rgb(248, 166, 26), rgb(27, 74, 151), rgb(0, 171, 204), rgb(177, 210, 56),
  rgb(252, 210, 3);
$side-panel-width: 33%;
