.player {
  // HSL args
  //--playkit-primary-hsl-hue: #{hue($brand-color)};
  --playkit-primary-hsl-hue: 214deg;
  --playkit-secondary-hsl-hue: 40deg;
  --playkit-success-hsl-hue: 135deg;
  --playkit-danger-hsl-hue: 354deg;
  --playkit-warning-hsl-hue: 21deg;

  --playkit-primary-hsl-saturation: 100%;
  --playkit-secondary-hsl-saturation: 100%;
  --playkit-success-hsl-saturation: 57%;
  --playkit-danger-hsl-saturation: 76%;
  --playkit-warning-hsl-saturation: 81%;

  --playkit-primary-hsl-lightness: 49%;
  --playkit-secondary-hsl-lightness: 50%;
  --playkit-success-hsl-lightness: 30%;
  --playkit-danger-hsl-lightness: 51%;
  --playkit-warning-hsl-lightness: 53%;

  // Accent Colors
  --playkit-primary-color: hsl(var(--playkit-primary-hsl-hue) var(--playkit-primary-hsl-saturation) var(--playkit-primary-hsl-lightness));
  --playkit-primary-darker-color: hsl(
    var(--playkit-primary-hsl-hue) var(--playkit-primary-hsl-saturation) calc(var(--playkit-primary-hsl-lightness) - 15%)
  );
  --playkit-primary-brighter-color: hsl(
    var(--playkit-primary-hsl-hue) var(--playkit-primary-hsl-saturation) calc(var(--playkit-primary-hsl-lightness) + 15%)
  );
  --playkit-primary-text-contrast-color: #ffffff;

  --playkit-secondary-color: hsl(var(--playkit-secondary-hsl-hue) var(--playkit-secondary-hsl-saturation) var(--playkit-secondary-hsl-lightness));
  --playkit-secondary-darker-color: hsl(
    var(--playkit-secondary-hsl-hue) var(--playkit-secondary-hsl-saturation) calc(var(--playkit-secondary-hsl-lightness) - 15%)
  );
  --playkit-secondary-brighter-color: hsl(
    var(--playkit-secondary-hsl-hue) var(--playkit-secondary-hsl-saturation) calc(var(--playkit-secondary-hsl-lightness) + 15%)
  );
  --playkit-secondary-text-contrast-color: #ffffff;

  // Acknowledgement Colors
  --playkit-success-color: hsl(var(--playkit-success-hsl-hue) var(--playkit-success-hsl-saturation) var(--playkit-success-hsl-lightness));
  --playkit-success-darker-color: hsl(
    var(--playkit-success-hsl-hue) var(--playkit-success-hsl-saturation) calc(var(--playkit-success-hsl-lightness) - 15%)
  );
  --playkit-success-brighter-color: hsl(
    var(--playkit-success-hsl-hue) var(--playkit-success-hsl-saturation) calc(var(--playkit-success-hsl-lightness) + 15%)
  );
  --playkit-success-text-contrast-color: #ffffff;

  --playkit-danger-color: hsl(var(--playkit-danger-hsl-hue) var(--playkit-danger-hsl-saturation) var(--playkit-danger-hsl-lightness));
  --playkit-danger-darker-color: hsl(
    var(--playkit-danger-hsl-hue) var(--playkit-danger-hsl-saturation) calc(var(--playkit-danger-hsl-lightness) - 15%)
  );
  --playkit-danger-brighter-color: hsl(
    var(--playkit-danger-hsl-hue) var(--playkit-danger-hsl-saturation) calc(var(--playkit-danger-hsl-lightness) + 15%)
  );
  --playkit-danger-text-contrast-color: #ffffff;

  --playkit-warning-color: hsl(var(--playkit-warning-hsl-hue) var(--playkit-warning-hsl-saturation) var(--playkit-warning-hsl-lightness));
  --playkit-warning-darker-color: hsl(
    var(--playkit-warning-hsl-hue) var(--playkit-warning-hsl-saturation) calc(var(--playkit-warning-hsl-lightness) - 15%)
  );
  --playkit-warning-brighter-color: hsl(
    var(--playkit-warning-hsl-hue) var(--playkit-warning-hsl-saturation) calc(var(--playkit-warning-hsl-lightness) + 15%)
  );
  --playkit-warning-text-contrast-color: #ffffff;

  // Tone Ramp
  --playkit-tone-1-color: #ffffff;
  --playkit-tone-2-color: #cccccc;
  --playkit-tone-3-color: #999999;
  --playkit-tone-4-color: #666666;
  --playkit-tone-5-color: #525252;
  --playkit-tone-6-color: #383838;
  --playkit-tone-7-color: #212121;
  --playkit-tone-8-color: #000000;

  // Tone Ramp - rgb values
  --playkit-tone-1-color-rgb: 255, 255, 255;
  --playkit-tone-2-color-rgb: 204, 204, 204;
  --playkit-tone-3-color-rgb: 153, 153, 153;
  --playkit-tone-4-color-rgb: 102, 102, 102;
  --playkit-tone-5-color-rgb: 82, 82, 82;
  --playkit-tone-6-color-rgb: 56, 56, 56;
  --playkit-tone-7-color-rgb: 33, 33, 33;
  --playkit-tone-8-color-rgb: 0, 0, 0;

  --playkit-live-color: #e12437;
  --playkit-player-background-color: #000000;
  --playkit-tab-focus-color: var(--playkit-primary-color);
  --playkit-tooltip-background-color: var(--playkit-tone-1-color);
  --playkit-tooltip-color: var(--playkit-tone-7-color);
  --playkit-ads-color: var(--playkit-secondary-color);

  --playkit-background-color: #121212;
  --playkit-elevated-color: #333333;
  --playkit-paper-color: #242424;
  --playkit-protection-color: #222222;
}
