// Sass variables exported using the npm package for plugins usage

// New version - upcoming
$tone-1: #ffffff;
$tone-2: #cccccc;
$tone-3: #999999;
$tone-4: #888888;
$tone-5: #666666;
$tone-6: #444444;
$tone-7: #222222;
$tone-8: #000000;
