@import url('https://fonts.googleapis.com/css?family=Lato');
.row {
  display: block;
}
.row:after {
  content: '';
  clear: both;
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.mobile-hidden-select {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
}
.form-group {
  margin: 10px 0;
  position: relative;
  max-width: 100%;
}
.form-group.has-error .form-control {
  border-color: #db1f26;
}
.form-group.has-error .form-control:focus {
  border-color: #fff;
}
.form-group.has-icon .form-control {
  padding-left: 34px;
}
.form-group .icon {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  fill: rgba(255, 255, 255, 0.4);
}
.form-control {
  height: 36px;
  width: 100%;
  min-width: 72px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 8px 10px;
  text-overflow: ellipsis;
}
.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form-control:focus {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}
.form-control:focus::-webkit-input-placeholder {
  color: #ccc;
}
.form-control:focus + .icon {
  fill: #999;
}
textarea.form-control {
  min-height: 72px;
}
select {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  -webkit-appearance: none;
  background: none;
  border: 0;
}
.checkbox {
  font-size: 15px;
  position: relative;
}
.checkbox input {
  display: none;
}
.checkbox label:before {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-right: 8px;
  display: inline-block;
  content: '';
  vertical-align: middle;
}
.checkbox input:checked + label:before {
  border: 1px solid #fff;
  background: #fff;
}
.form-group-row {
  font-size: 15px;
  margin: 24px 0;
}
.form-group-row:after {
  clear: both;
  content: ' ';
  display: block;
}
.form-group-row label {
  float: left;
  color: rgba(244, 244, 244, 0.8);
}
.form-group-row .dropdown {
  float: right;
}
.btn {
  text-decoration: none;
  height: 36px;
  border-radius: 18px;
  color: #fff;
  line-height: 36px;
  font-weight: bold;
  cursor: pointer;
}
.btn.btn-block {
  display: block;
}
.btn.btn-branded {
  background-color: #01accd;
}
.btn.btn-branded:hover {
  color: #fff;
}
.btn-rounded {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 2px;
  fill: #fff;
}
@-webkit-keyframes openDropmenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes openDropmenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.dropdown {
  position: relative;
  font-size: 15px;
}
.dropdown.active .dropdown-menu {
  display: block;
  opacity: 1;
}
.dropdown.active .dropdown-button .icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dropdown .dropdown-button {
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}
.dropdown .dropdown-button .icon {
  width: 16px;
  fill: #fff;
  vertical-align: middle;
  margin-left: 6px;
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms transform;
  will-change: transform;
}
.dropdown-menu {
  display: block;
  opacity: 1;
  position: absolute;
  background-color: #333333;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 6px 0;
  z-index: 5;
  -webkit-animation: openDropmenu 100ms ease-out forwards;
  animation: openDropmenu 100ms ease-out forwards;
  max-height: 173px;
  overflow-y: auto;
  font-size: 15px;
}
.dropdown-menu.top {
  margin-bottom: 10px;
  bottom: 100%;
}
.dropdown-menu.bottom {
  margin-top: 10px;
  top: 100%;
}
.dropdown-menu.right {
  left: 0;
}
.dropdown-menu.left {
  right: 0;
}
.dropdown-menu .dropdown-menu-item {
  padding: 2px 10px 2px 16px;
  white-space: nowrap;
  min-height: 30px;
  cursor: pointer;
}
.dropdown-menu .dropdown-menu-item:hover {
  color: #fff;
}
.dropdown-menu .dropdown-menu-item.active {
  color: #01accd;
  fill: #01accd;
}
.dropdown-menu .dropdown-menu-item .check-icon {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
.dropdown-menu .dropdown-menu-item span {
  vertical-align: middle;
  line-height: 26px;
}
.tooltip {
  display: inline-block;
  height: 22px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 3px 13px;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
.player .control-button {
  width: 32px;
  height: 32px;
  background: transparent;
  display: inline-block;
  opacity: 0.8;
  border: none;
  padding: 0;
  cursor: pointer;
  fill: #fff;
}
.player .control-button svg {
  width: 32px;
  height: 32px;
}
.player .control-button.active {
  opacity: 1;
}
.player .control-button.control-button-rounded {
  width: 36px;
  height: 36px;
  padding: 2px;
}
.player:not(.touch) .control-button:hover {
  opacity: 1;
}
.player:not(.touch) .control-button.control-button-rounded:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}
.player .control-button-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.player.touch .player .control-button-container {
  position: static;
}
.player.touch .control-button {
  position: relative;
}
a {
  color: #01accd;
  text-decoration: underline;
  font-size: 15px;
  line-height: 18px;
}
a:hover {
  color: #01819a;
}
a:active {
  opacity: 0.7;
}
.player {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.player:-webkit-full-screen {
  width: 100%;
  height: 100%;
  max-width: none;
}
.player * {
  box-sizing: border-box;
  outline: none;
}
.player ::-moz-selection {
  background-color: rgba(0, 0, 0, 0.1);
}
.player ::selection {
  background-color: rgba(0, 0, 0, 0.1);
}
.player video {
  width: 100%;
}
.player .player-gui {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  font-size: 0;
  font-family: 'Lato', sans-serif;
}
.player .player-gui input,
.player .player-gui textarea {
  font-family: 'Lato', sans-serif;
}
.player .overlay-portal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.player.metadata-loaded .player-gui,
.player.state-paused .player-gui,
.player.state-idle .player-gui,
.player.overlay-active .player-gui,
.player.menu-active .player-gui {
  opacity: 1;
}
video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
video::cue {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
}
.player.captions-yellow-text video::cue {
  color: #faff00;
}
.player.captions-black-bg video::cue {
  background-color: #000;
}
.player video::-webkit-media-text-track-display {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: ease-in 100ms;
  transition: ease-in 100ms;
}
.player.state-paused video::-webkit-media-text-track-display,
.player.state-idle video::-webkit-media-text-track-display,
.player.hover video::-webkit-media-text-track-display {
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: ease-out 100ms;
  transition: ease-out 100ms;
}
@-webkit-keyframes openOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes openOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  -webkit-animation: openOverlay 100ms ease-in-out forwards;
  animation: openOverlay 100ms ease-in-out forwards;
  z-index: 4;
}
.overlay.active {
  display: block;
  opacity: 1;
}
.overlay .overlay-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 4;
  text-align: center;
  color: #fff;
  padding: 80px 20px;
  overflow-y: auto;
}
.overlay .title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 60px;
}
.overlay .close-overlay {
  position: absolute;
  top: 48px;
  right: 48px;
  z-index: 5;
  fill: #fff;
  cursor: pointer;
}
.overlay .close-overlay .icon-close {
  width: 24px;
  height: 24px;
}
.overlay .overlay-screen {
  display: none;
}
.overlay .overlay-screen.active {
  display: block;
}
@media screen and (max-width: 768px) {
  .overlay .overlay-contents {
    padding: 36px 20px;
  }
  .overlay .close-overlay {
    top: 38px;
  }
  .overlay .title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 480px) {
  .overlay .overlay-contents {
    padding: 16px 24px;
  }
  .overlay .close-overlay {
    top: 15px;
    right: 24px;
  }
  .overlay .title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }
}
@-webkit-keyframes openSmartContainer {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes openSmartContainer {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes closeSmartContainer {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes closeSmartContainer {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
.player:not(.touch) .smart-container {
  background-color: #222222;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: absolute;
  right: 0px;
  min-width: 193px;
  font-size: 15px;
  z-index: 5;
  display: block;
  -webkit-animation: openSmartContainer 100ms ease-out forwards;
  animation: openSmartContainer 100ms ease-out forwards;
}
.player:not(.touch) .smart-container.leaving {
  -webkit-animation: closeSmartContainer 100ms ease-out forwards;
  animation: closeSmartContainer 100ms ease-out forwards;
}
.player:not(.touch) .smart-container.top {
  bottom: 100%;
  margin-bottom: 6px;
}
.player:not(.touch) .smart-container.top:before {
  display: block;
  content: ' ';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 6px;
}
.player:not(.touch) .smart-container.bottom {
  top: 100%;
  margin-top: 6px;
}
.player:not(.touch) .smart-container.right {
  left: 0px;
}
.player:not(.touch) .smart-container.left {
  right: 0px;
}
.player:not(.touch) .smart-container .smart-container-item {
  margin: 16px;
  color: rgba(244, 244, 244, 0.8);
  white-space: nowrap;
}
.player:not(.touch) .smart-container .smart-container-item:after {
  display: block;
  content: ' ';
  clear: both;
}
.player:not(.touch) .smart-container .smart-container-item.select-menu-item label {
  float: left;
}
.player:not(.touch) .smart-container .smart-container-item.select-menu-item label .label-icon {
  display: none;
}
.player:not(.touch) .smart-container .smart-container-item.select-menu-item .dropdown,
.player:not(.touch) .smart-container .smart-container-item.select-menu-item select {
  float: right;
}
.player:not(.touch) .smart-container .smart-container-item.select-menu-item select {
  text-align-last: right;
}

.touch .smart-container-item {
  width: 300px;
  max-width: 100%;
  margin: 16px auto;
  color: rgba(244, 244, 244, 0.8);
  white-space: nowrap;
  text-align: left;
}
.touch .smart-container-item:after {
  display: block;
  content: ' ';
  clear: both;
}
.touch .smart-container-item.select-menu-item label {
  float: left;
  font-size: 16px;
  color: #fff;
  fill: #fff;
}
.touch .smart-container-item.select-menu-item label .label-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
.touch .smart-container-item.select-menu-item .dropdown,
.touch .smart-container-item.select-menu-item select {
  float: right;
}
.touch .smart-container-item.select-menu-item select {
  text-align-last: right;
}
.overlay.share-overlay .share-icons {
  margin: 60px 0;
}
.overlay.share-overlay .share-icons .btn-rounded {
  margin: 0 8px;
  -webkit-transition: -webkit-transform 100ms;
  transition: transform 100ms;
  will-change: transform;
}
.overlay.share-overlay .share-icons .btn-rounded:first-child {
  margin-left: 0;
}
.overlay.share-overlay .share-icons .btn-rounded:last-child {
  margin-right: 0;
}
.overlay.share-overlay .share-icons .btn-rounded.facebook-share-btn {
  background-color: #3b5998;
}
.overlay.share-overlay .share-icons .btn-rounded.twitter-share-btn {
  background-color: #1da1f2;
}
.overlay.share-overlay .share-icons .btn-rounded.google-plus-share-btn {
  background-color: #dd4b39;
}
.overlay.share-overlay .share-icons .btn-rounded.linkedin-share-btn {
  background-color: #00a0dc;
}
.share-main-container {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.link-options-container {
  width: 400px;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
}
.link-options-container .copy-url-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.link-options-container .copy-url-row .input-copy-url {
  margin: 0;
}
.link-options-container .copy-url-row .btn-copy-url {
  margin-left: 16px;
}
.link-options-container .copy-url-row .btn-copy-url .icon {
  will-change: transform;
  -webkit-transition: 100ms -webkit-transform;
  transition: 100ms transform;
  position: absolute;
  width: 32px;
}
.link-options-container .copy-url-row .btn-copy-url .check-icon {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.link-options-container .copy-url-row .btn-copy-url.copied {
  background-color: #009444;
}
.link-options-container .copy-url-row .btn-copy-url.copied .copy-icon {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.link-options-container .copy-url-row .btn-copy-url.copied .check-icon {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.link-options-container .video-start-options-row {
  margin-top: 24px;
}
.link-options-container .video-start-options-row .checkbox {
  margin-right: 15px;
}
.link-options-container .video-start-options-row .form-group {
  margin: 0;
}
.player:not(.touch) .overlay.share-overlay .share-icons .btn-rounded:hover {
  -webkit-transform: scale(1.1667);
  -ms-transform: scale(1.1667);
  transform: scale(1.1667);
}
@media screen and (max-width: 768px) {
  .overlay.share-overlay .share-icons {
    margin: 40px 0;
  }
}
@media screen and (max-width: 480px) {
  .overlay.share-overlay .share-icons {
    margin: 20px 0;
  }
}
.overlay.cvaa-overlay .sample {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  padding: 0 31px;
  display: inline-block;
  margin: 0 12px;
  cursor: pointer;
}
.overlay.cvaa-overlay .sample.black-bg {
  background-color: #000;
}
.overlay.cvaa-overlay .sample.yellow-text {
  color: #faff00;
}
.overlay.cvaa-overlay .button-save-cvaa {
  margin-top: 50px;
  height: 40px;
  width: 400px;
  max-width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.overlay.cvaa-overlay .custom-caption-form {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .overlay.cvaa-overlay .sample {
    width: 30%;
    margin: 2.33%;
    padding: 0;
  }
  .overlay.cvaa-overlay .sample:first-child {
    margin-left: 0;
  }
  .overlay.cvaa-overlay .sample:last-child {
    margin-right: 0;
  }
  .overlay.cvaa-overlay .button-save-cvaa {
    margin-top: 20px;
  }
}
@-webkit-keyframes kaltura-spinner {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  70% {
    -webkit-transform: rotate(360deg) scale(0.7);
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
  82% {
    -webkit-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  87% {
    -webkit-transform: rotate(360deg) scale(0.9);
    transform: rotate(360deg) scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.7);
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
}
@keyframes kaltura-spinner {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7);
    transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  70% {
    -webkit-transform: rotate(360deg) scale(0.7);
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
  82% {
    -webkit-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
  87% {
    -webkit-transform: rotate(360deg) scale(0.9);
    transform: rotate(360deg) scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.7);
    transform: rotate(360deg) scale(0.7);
    opacity: 1;
  }
}
.loading-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 100ms opacity;
  transition: 100ms opacity;
  opacity: 0;
}
.loading-backdrop.show {
  opacity: 1;
}
.loading-backdrop.show .spinner-container {
  display: block;
}
.loading-backdrop .spinner-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50px, -50px, 0);
  transform: translate3d(-50px, -50px, 0);
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation: kaltura-spinner 2.5s infinite;
  animation: kaltura-spinner 2.5s infinite;
}
.spinner span {
  width: 8px;
  height: 8px;
  background-color: #fff;
  display: block;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.spinner span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(45deg) translateX(-25px) translateY(-25px);
  transform: rotate(45deg) translateX(-25px) translateY(-25px);
  background-color: #da1f26;
}
.spinner span:nth-child(2) {
  -webkit-transform: rotate(90deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(90deg) translateX(-25px) translateY(-25px);
  transform: rotate(90deg) translateX(-25px) translateY(-25px);
  background-color: #06a885;
}
.spinner span:nth-child(3) {
  -webkit-transform: rotate(135deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(135deg) translateX(-25px) translateY(-25px);
  transform: rotate(135deg) translateX(-25px) translateY(-25px);
  background-color: #009344;
}
.spinner span:nth-child(4) {
  -webkit-transform: rotate(180deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(180deg) translateX(-25px) translateY(-25px);
  transform: rotate(180deg) translateX(-25px) translateY(-25px);
  background-color: #f8a61a;
}
.spinner span:nth-child(5) {
  -webkit-transform: rotate(225deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(225deg) translateX(-25px) translateY(-25px);
  transform: rotate(225deg) translateX(-25px) translateY(-25px);
  background-color: #1b4a97;
}
.spinner span:nth-child(6) {
  -webkit-transform: rotate(270deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(270deg) translateX(-25px) translateY(-25px);
  transform: rotate(270deg) translateX(-25px) translateY(-25px);
  background-color: #00abcc;
}
.spinner span:nth-child(7) {
  -webkit-transform: rotate(315deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(315deg) translateX(-25px) translateY(-25px);
  transform: rotate(315deg) translateX(-25px) translateY(-25px);
  background-color: #b1d238;
}
.spinner span:nth-child(8) {
  -webkit-transform: rotate(360deg) translateX(-25px) translateY(-25px);
  -ms-transform: rotate(360deg) translateX(-25px) translateY(-25px);
  transform: rotate(360deg) translateX(-25px) translateY(-25px);
  background-color: #fcd203;
}
.control-button-container.control-play-pause .control-button {
  -webkit-transition: 400ms -webkit-transform;
  transition: 400ms transform;
}
.control-button-container.control-play-pause .control-button .icon-pause {
  -webkit-transition: 400ms opacity;
  transition: 400ms opacity;
  opacity: 0;
  display: none;
}
.control-button-container.control-play-pause .control-button .icon-play {
  -webkit-transition: 400ms opacity;
  transition: 400ms opacity;
  opacity: 1;
  display: block;
}
.control-button-container.control-play-pause .control-button.is-playing {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.control-button-container.control-play-pause .control-button.is-playing .icon-pause {
  opacity: 1;
  display: block;
}
.control-button-container.control-play-pause .control-button.is-playing .icon-play {
  opacity: 0;
  display: none;
}
.touch .control-button-container.control-play-pause {
  display: none;
}
@media screen and (max-width: 480px) {
  .control-button-container.control-play-pause {
    display: none;
  }
}
.control-button-container.volume-control:hover .volume-control-bar {
  display: block !important;
}
.control-button-container.volume-control.is-muted .volume-waves {
  opacity: 0;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
.control-button-container.volume-control.is-muted .volume-mute {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.control-button-container.volume-control.dragging-active .volume-control-bar {
  display: block;
}
.control-button-container.volume-control .volume-waves {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.control-button-container.volume-control .volume-mute {
  opacity: 1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.control-button-container.volume-control .volume-waves,
.control-button-container.volume-control .volume-mute {
  -webkit-transition: 300ms -webkit-transform, 300ms opacity;
  transition: 300ms transform, 300ms opacity;
}
.control-button-container.volume-control svg {
  position: absolute;
  top: 0;
  left: 0;
}
.volume-control-bar {
  position: absolute;
  z-index: 2;
  bottom: 38px;
  left: 0px;
  display: block;
  height: 112px;
  width: 34px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #333333;
  padding: 6px;
  display: none;
}
.volume-control-bar:before {
  position: absolute;
  width: 34px;
  height: 14px;
  bottom: -8px;
  left: 0;
  content: ' ';
  display: block;
}
.volume-control-bar .bar {
  background-color: #424242;
  height: 100%;
  position: relative;
  cursor: ns-resize;
}
.volume-control-bar .progress {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0 0 2px 2px;
  background-color: #01accd;
}
.touch .control-button-container.volume-control {
  display: none;
}
@media screen and (max-width: 480px) {
  .control-button-container.volume-control {
    display: none;
  }
}
.control-button-container.control-fullscreen .control-button {
  -webkit-transition: 100ms -webkit-transform;
  transition: 100ms transform;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.control-button-container.control-fullscreen .control-button .icon-minimize {
  display: none;
}
.control-button-container.control-fullscreen .control-button.is-fullscreen .icon-maximize {
  display: none;
}
.control-button-container.control-fullscreen .control-button.is-fullscreen .icon-minimize {
  display: block;
}
.player:not(.touch) .control-button-container.control-fullscreen .control-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.player .seek-bar {
  padding: 6px 0;
  cursor: pointer;
  position: relative;
}
.player .seek-bar:hover .time-preview,
.player .seek-bar:hover .frame-preview,
.player .seek-bar.dragging-active .time-preview,
.player .seek-bar.dragging-active .frame-preview {
  display: block;
}
.player .seek-bar:hover .progress-bar .scrubber,
.player .seek-bar.dragging-active .progress-bar .scrubber {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.player .seek-bar:hover .progress-bar .virtual-progress,
.player .seek-bar.dragging-active .progress-bar .virtual-progress {
  display: block;
}
.player .seek-bar .progress-bar {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  position: relative;
}
.player .seek-bar .progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  border-radius: 2px 0 0 2px;
  background-color: #01accd;
}
.player .seek-bar .progress-bar .virtual-progress {
  display: none;
}
.player .seek-bar .progress-bar .buffered,
.player .seek-bar .progress-bar .virtual-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  border-radius: 2px 0 0 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.player .seek-bar .progress-bar .scrubber {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  display: block;
  top: -6px;
  right: -8px;
  border-radius: 8px;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 31px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 100ms -webkit-transform;
  transition: 100ms transform;
}
.player .seek-bar .progress-bar .scrubber:active {
  opacity: 1;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.player .seek-bar .frame-preview {
  position: absolute;
  bottom: 16px;
  left: 0;
  height: 94px;
  width: 164px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.player .seek-bar .frame-preview .frame-preview-img {
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
.player .seek-bar .time-preview {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 10;
  height: 22px;
  min-width: 48px;
  padding: 0 3px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
}
.player .seek-bar .time-preview,
.player .seek-bar .frame-preview {
  display: none;
}
.touch .virtual-progress,
.touch .time-preview,
.touch .frame-preview {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .virtual-progress,
  .time-preview,
  .frame-preview {
    display: none;
  }
}
.player .time-display {
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  font-size: 14px;
  padding: 0 23px;
  font-weight: bold;
}
.touch .time-display {
  padding-left: 0;
}
@media screen and (max-width: 480px) {
  .player .time-display {
    padding: 0 12px 0 0;
  }
}
.player .video-playing-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player .bottom-bar {
  background: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  padding: 6px 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 100ms opacity;
  transition: 100ms opacity;
  width: 100%;
  margin-top: auto;
}
.player .bottom-bar .left-controls {
  float: left;
  text-align: left;
}
.player .bottom-bar .left-controls:first-child {
  margin-left: 0px;
}
.player .bottom-bar .right-controls {
  float: right;
  text-align: left;
}
.player .bottom-bar .right-controls .control-button-container {
  margin: 0 6px;
}
.player .bottom-bar .right-controls .control-button-container:last-child {
  margin-right: 0;
}
.player.hover .bottom-bar,
.player.state-paused .bottom-bar,
.player.state-idle .bottom-bar,
.player.menu-active .bottom-bar {
  opacity: 1;
}
.player.overlay-active .bottom-bar {
  opacity: 0;
}
@media screen and (max-width: 480px) {
  .player .bottom-bar {
    padding: 6px 8px;
  }
}
.player .top-bar {
  background: -webkit-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  padding: 14px 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 100ms opacity;
  transition: 100ms opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.player .top-bar .left-controls {
  text-align: left;
  min-width: 0;
}
.player .top-bar .right-controls {
  text-align: left;
}
.player .top-bar .right-controls .control-button-container {
  margin: 0 6px;
}
.player .top-bar .right-controls .control-button-container:last-child {
  margin-right: 0;
}
.player.hover .top-bar,
.player.state-paused .top-bar,
.player.state-idle .top-bar,
.player.menu-active .top-bar {
  opacity: 1;
}
.player.overlay-active .top-bar {
  opacity: 0;
}
@media screen and (max-width: 480px) {
  .player .top-bar {
    padding: 8px 8px 20px 8px;
  }
}
@-webkit-keyframes overlayPlayIconIn {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes overlayPlayIconIn {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.overlay-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-play.in .icon {
  -webkit-animation: overlayPlayIconIn 400ms linear forwards;
  animation: overlayPlayIconIn 400ms linear forwards;
}
.overlay-play .icon {
  width: 144px;
  height: 144px;
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -72px 0 0 -72px;
  opacity: 0;
}
.pre-playback-play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.pre-playback-play-overlay .pre-playback-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 108px;
  width: 108px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  margin: -54px 0 0 -54px;
  border-radius: 54px;
  fill: #fff;
  padding: 20px;
}
.pre-playback-play-overlay .pre-playback-play-button:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.pre-playback-play-overlay .pre-playback-play-button:active {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.pre-playback .player-gui {
  opacity: 0 !important;
}

/*# sourceMappingURL=style.css.map */
