.overlay.share-overlay {
  .share-icons {
    margin: 60px 0;

    .btn-rounded {
      margin: 0 8px;
      transition: transform 100ms;
      will-change: transform;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &.facebook-share-btn {
        background-color: #3b5998;
      }
      &.twitter-share-btn {
        background-color: #1da1f2;
      }
      &.google-plus-share-btn {
        background-color: #dd4b39;
      }
      &.linkedin-share-btn {
        background-color: #00a0dc;
      }
    }
  }
}

.share-main-container {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.link-options-container {
  width: 400px;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;

  .copy-url-row {
    display: flex;

    .input-copy-url {
      margin: 0;
    }
    .btn-copy-url {
      margin-left: 16px;

      .icon {
        will-change: transform;
        transition: 100ms transform;
        position: absolute;
        width: 32px;
      }
      .icon-check {
        transform: scale(0);
        opacity: 0;
      }

      &.copied {
        background-color: $success-color;

        .icon-copy {
          transform: scale(0);
          opacity: 0;
        }
        .icon-check {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  .video-start-options-row {
    margin-top: 24px;

    .checkbox {
      margin-right: 15px;
    }
    .form-group {
      margin: 0;
    }
  }
}

.player:not(.touch) .overlay.share-overlay .share-icons .btn-rounded:hover {
  transform: scale(1.1667);
}

.player.size-md {
  .overlay.share-overlay {
    .share-icons {
      margin: 40px 0;
    }
  }
}

.player.size-sm {
  .overlay.share-overlay {
    .share-icons {
      margin: 20px 0;
    }
  }
}
