.overlay.share-overlay {
  .share-icons {
    margin: 60px 0;

    .btn-rounded {
      margin: 0 8px;
      transition: transform 100ms;
      will-change: transform;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #1da1f2;
      }
      &.linkedin {
        background-color: #00a0dc;
      }
    }
  }

  .link-options-container {
    width: auto;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;

    .copy-url-row {
      display: flex;

      .input-copy-url {
        margin: 0;
      }
      .btn-copy-url {
        .icon {
          width: 32px;
          margin-top: 5px;
        }
      }
    }
    .video-start-options-row {
      margin-top: 24px;

      .checkbox {
        margin-right: 15px;
      }
      .form-group {
        margin: 0;
      }
    }
  }
}

.share-main-container {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}



.player:not(.touch) .overlay.share-overlay .share-icons .btn-rounded:hover {
  transform: scale(1.1667);
}

.player.size-md {
  .overlay.share-overlay {
    .share-icons {
      margin: 40px 0;
    }
  }
}

.player.size-sm {
  .overlay.share-overlay {
    .share-icons {
      margin: 20px 0;
    }
  }
}
