.player { 
    .audio-entry-backdrop {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
        bottom: 0; 
        padding-top: 128px; 
        pointer-events: none;
        position: absolute; 
        width: 100%; 
        
        .audio-entry-details {
            margin-left: 16px; 
            margin-right: 16px; 
            padding-bottom: 60px; 
            left: 16px; 
            color: white; 
            
            &.audio-entry-l {
                max-width: 600px;
            }
            
            &.audio-entry-m {
                max-width: min(600px, 100%);
            }
            
            &.audio-entry-s {
                max-width: 100%;
            }

            &.audio-entry-t {
                max-width: 0px;
            }
            
            .audio-entry-title {
                font-size: 32px; 
                
                &.audio-entry-title-trimmed {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    display: -webkit-box; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            
            .audio-entry-description { 
                font-size: 14px; 
            }
        }
    }   
}