@keyframes castBeforePlayAnimation {
  0% {
    opacity: 0;
    transform: rotateY(70deg);
  }
  33% {
    opacity: 0.3;
    transform: rotateY(50deg);
  }
  66% {
    opacity: 0.6;
    transform: rotateY(30deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

.player {
  .cast-before-play-button-container {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    opacity: 0;

    span {
      font-family: $font-family;
      font-weight: lighter;
      color: white;
    }

    &.show-cast-before-play {
      animation: castBeforePlayAnimation 300ms linear forwards;
    }
  }

  .btn.cast-before-play-button {
    font-size: 15px;
    max-width: 200px;
    transition: max-width 200ms;
    padding: 0 16px;
    white-space: nowrap;

    span {
      transform: translateX(0px);
      opacity: 1;
      transition: transform 100ms, opacity 100ms;
      display: inline-block;
    }
  }

  .cast-before-play-icon-container {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 3px;

    i {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
