.kp-overlay.kp-cvaa-overlay {
  .kp-sample {
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    padding: 0 31px;
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;

    &.kp-black-bg {
      background-color: #000;
    }
    &.kp-yellow-text {
      color: #FAFF00;
    }
  }
  .kp-button-save-cvaa {
    margin-top: 50px;
    height: 40px; width: 400px;
    max-width: 100%;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .kp-custom-caption-form {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.kp-player.kp-size-sm {
  .kp-overlay.kp-cvaa-overlay {
    .kp-sample {
      width: 30%;
      margin: 2.33%;
      padding: 0;

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
    .kp-button-save-cvaa {
      margin-top: 20px;
    }
  }
}
