.overlay.cvaa-overlay {
  .sample {
    border: 1px solid $tone-3-color;
    border-radius: 4px;
    font-size: 14px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    position: relative;

    &:not(.custom) {
      cursor: pointer;
    }

    &.minimalist {
      background-color: rgba(0, 0, 0, 0.5);
      color: $tone-1-color;
      font-size: 16px;
      font-family: Verdana;
      font-weight: 400;
      font-size: 16px;
    }

    &.high-contrast {
      background-color: $tone-8-color;
      color: #ffff00;
      font-family: 'Arial';
      font-size: 18px;
      font-weight: 700;
    }

    &.classic-tv {
      background-color: $tone-8-color;
      color: $tone-1-color;
      font-family: 'Times New Roman';
      font-size: 16px;
      font-weight: 400;
    }

    &.easy-reading {
      background-color: #ffffcc;
      color: #036;
      font-family: 'Tahoma';
      font-size: 20px;
      font-weight: 700;
    }

    &.early-readers {
      background-color: #ffff00;
      color: $tone-8-color;
      font-family: 'Trebuchet MS';
      font-weight: 700;
      font-size: 20px;
    }

    &.night-mode {
      background-color: rgba(0, 0, 0, 0.75);
      color: $tone-2-color;
      font-family: 'Segoe UI', 'SF Pro Text', Helvetica, sans-serif;
      font-size: 16px;
    }

    &.black-bg {
      background-color: $tone-8-color;
    }
    &.yellow-text {
      color: #faff00;
    }
    .active-tick {
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background-color: $primary-color;
      position: absolute;
      top: -5px;
      right: -5px;

      .icon {
        vertical-align: top;
      }
    }
    span {
      font-size: 16px !important;
      line-height: 1;
      vertical-align: middle;
    }
  }
  [role="radiogroup"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    gap:24px;

    .sample {
      flex: 1 1 calc(33% - 24px);
      box-sizing: border-box;
      min-width: 160px;
    }
  }
  .custom-buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    height: 32px;
    margin-top: 48px;
    padding: 0;
  }

  .custom-buttons .sample {
    flex: 1;
    margin: 0;
    border: none;
    border-radius: 4px;
    background-color: #000000;
  }

  .custom-buttons .button-save-cvaa {
    flex: 1;
    margin: 0;
    padding: 0 20px;
  }

  .button-save-cvaa {
    height: 32px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
    line-height: normal;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;

    &:focus {
    outline: 2px solid #2684FF;
    box-shadow: 0 0 0 2px white;
    outline-offset: 1px;
    }
  }

  .custom-captions-applied {
    margin-top: 50px;
    a {
      color: $primary-brighter-color;
    }
  }

  .custom-caption-form {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;

    a {
      color: white;
      line-height: 36px;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .slider {
      float: right;
      width: 100px;
      margin-top: 5px;
    }
  }

  .preview-container {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 24px;
  }
  .preview-easy-reading {
    text-align: left;
  }
}

.player.size-sm {
  .overlay.cvaa-overlay {
    .sample {
      max-width: 180px;
      margin: 0;
      padding: 0;

      &.custom {
        width: auto;
        padding: 0 10px;
      }
    }
    .custom-buttons {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      max-width: 180px;
      height: 32px;
      margin-top: 48px;
      margin-bottom: 40px;
    }
    .custom-buttons .sample,
    .custom-buttons .button-save-cvaa {
      flex: none;
      width: 100%;
    }
  }
}

.font-size,
.font-alignment,
.font-color,
.font-family,
.font-style,
.font-opacity,
.background-color,
.background-opacity {
  background: initial;
}
