.overlay.cvaa-overlay {
  .sample {
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    padding: 0 28px;
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;

    &.black-bg {
      background-color: #000;
    }
    &.yellow-text {
      color: #FAFF00;
    }
  }
}
