@keyframes openSmartContainer {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform : translateY(0); }
}

@keyframes closeSmartContainer {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform : translateY(10px); }
}

.kp-player:not(.kp-touch) .kp-smart-container {
  background-color: #222222;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
  border-radius: 4px;
  position: absolute;
  right: 0px;
  min-width: 193px;
  font-size: 15px;
  z-index: 10;
  display: block;
  animation: openSmartContainer 100ms ease-out forwards;

  &.kp-leaving {
    animation: closeSmartContainer 100ms ease-out forwards;
  }

  &.kp-top {
    bottom: 100%;
    margin-bottom: 6px;

    // protection for seekbar hover
    &:before {
      display: block;
      content: ' ';
      position: absolute;
      bottom: -6px; left: 0;
      width: 100%; height: 6px;
    }
  }
  &.kp-bottom {
    top: 100%;
    margin-top: 6px;
  }
  &.kp-right { left: 0px; }
  &.kp-left { right: 0px; }

  .kp-smart-container-item {
    margin: 16px;
    color: rgba(244,244,244,0.8);
    white-space: nowrap;

    &:after {
      display: block;
      content: ' ';
      clear: both;
    }

    &.kp-select-menu-item {
      label {
        float: left;

        .kp-label-icon {
          display: none;
        }
      }
      .kp-dropdown, select {
        float: right;
      }
      select {
        text-align-last: right;
      }
    }
  }
}

.kp-touch {
  .kp-smart-container-item {
    width: 300px;
    max-width: 100%;
    margin: 16px auto;
    color: rgba(244,244,244,0.8);
    white-space: nowrap;
    text-align: left;

    &:after {
      display: block;
      content: ' ';
      clear: both;
    }

    &.kp-select-menu-item {
      label {
        float: left;
        font-size: 16px;
        color: rgba(255,255,255,0.8);
        fill: #fff;

        .kp-label-icon {
          width: 24px;
          height: 24px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }
      .kp-dropdown, select {
        float: right;
      }
      select {
        text-align-last: right;
      }
    }
  }
}
