.player.state-idle {

  .playlist-next-screen-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);

    .playlist-next-screen-content {
      position: relative;
      top: calc(50% - 197.5px);
      height: 305px;

      .playlist-next-screen-text {
        font-size: 15px;
        color: #fff;
        padding: 4px 8px 12px 8px;

        .playlist-next-screen-text-title {
          padding: 4px;
          font-weight: 100;
        }

        .playlist-next-screen-text-name {
          padding: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .playlist-next-screen-poster {
        position: relative;
        height: 215px;
        width: 384px;
        left: calc(50% - 192px);
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        cursor: pointer;

        .playlist-next-screen-poster-img {
          height: 100%;
          border-radius: 3px;
          background-size: contain;
          background-repeat: round;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 64px;
          height: 64px;
          margin: -32px 0 0 -32px;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      .playlist-next-screen-content {
        top: calc(31.25% - 90px);
        height: calc(37.5% + 90px);

        .playlist-next-screen-poster {
          height: calc(100% - 90px);
          width: 37.5%;
          left: 31.25%;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .playlist-next-screen-content {
        top: calc(29% - 58px);
        height: calc(42% + 58px);

        .playlist-next-screen-text .playlist-next-screen-text-name {
          padding: 0;
        }

        .playlist-next-screen-poster {
          height: calc(100% - 58px);
          width: 42%;
          left: 29%;
        }
      }
    }

    @media screen and (max-width: 479px) {
      .playlist-next-screen-content {
        top: calc(50% - 74px);
        height: 90px;

        .playlist-next-screen-poster {
          height: 32px;
          width: 32px;
          left: calc(50% - 16px);
          border: 0;

          .playlist-next-screen-poster-img {
            display: none;
          }

          .icon {
            width: 32px;
            height: 32px;
            margin: -16px 0 0 -16px;
          }
        }
      }
    }
  }
}
