@keyframes overlayPlayIconIn {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.overlay-play {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;

  &.in .icon {
    animation: overlayPlayIconIn 400ms linear forwards;
  }

  .icon {
    width: 144px; height: 144px;
    position: absolute;
    top: 50%; left: 50%;
    margin: -72px 0 0 -72px;
    opacity: 0;
  }
}
