.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $player-background-color;
  transition: all #{$default-transition-time}ms;
  transition-property: left, right, bottom, top, width, height;
  .overlay-active & {
    filter: blur($blur);
  }
  display: flex;
}
