.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: all $default-transition-time;
  transition-property: left, right, bottom, top, width, height;
  .overlay-active & {
    filter: blur(16px);
  }
}
