.player {
  .watchdog {
    .family-mode-text {
      position: absolute;
      color: white;
      font-family: sans-serif;
      margin-left: 5px;
      margin-top: 5px;
      opacity: 0.5;
      border: 2px solid #ffffff;
      border-radius: 5px;
      box-shadow: 0 0 black;
      animation: fadeInFadeOut 1.5s infinite;
    }
  }
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.6;
  }

  30% {
    opacity: 0.4;
  }

  40% {
    opacity: 0.2;
  }


  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.2;
  }

  70% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
