.player {
  .watchdog {
    font-family: 'Lato';

    .content-forbidden-text {
      position: absolute;
      color: white;
      font-weight: lighter;
      font-size: 8px;
      margin-left: 13px;
      top: 50px;
      animation: fadeInFadeOut 1.5s infinite;
    }

    .content-forbidden-container {
      display: block;
      position: absolute;
      color: white;
      font-family: sans-serif;
      opacity: 0.5;
      width: 50px;
      height: 40px;
      margin-top: 10px;
      margin-left: 15px;
      animation: fadeInFadeOut 1.5s infinite;
    }
  }
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.6;
  }

  30% {
    opacity: 0.4;
  }

  40% {
    opacity: 0.2;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.2;
  }

  70% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
