.picture-in-picture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .picture-in-picture-poster {
    all: inherit;
    background-size: contain;
    background: black no-repeat center center;

    &.has-poster {
      background-color: #000;
    }

    .dark-layer {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .picture-in-picture-control {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .picture-in-picture-control::after {
    content: '';
    flex: 3;
  }
  .picture-in-picture-control::before {
    content: '';
    flex: 1;
  }

  .picture-in-picture-text {
    color: $tone-1-color;
    font-size: $headline-font-size;
    white-space: nowrap;
    overflow: hidden;
  }

  .picture-in-picture-button {
    height: 36px;
    width: 120px;
    border: 2px solid $tone-6-color;
    border-radius: 18px;
    background-color: $tone-7-color;
    color: $tone-1-color;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    &:hover {
      background-color: $tone-6-color;
    }
  }
}
