.control-button-container.control-playlist-button {

  .control-button {

    .icon-prev {
      display: block;
    }
    .icon-next {
      display: block;
    }
    .icon-prev-disabled {
      display: none;
    }
    .icon-next-disabled {
      display: none;
    }

    &:disabled {

      .icon-prev {
        display: none;
      }
      .icon-next {
        display: none;
      }
      .icon-prev-disabled {
        display: block;
      }
      .icon-next-disabled {
        display: block;
      }
    }
  }
}

.touch {
  .control-button-container.control-playlist-button {
    display: none;
  }
}

