.interactive-area {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  transition: top $default-transition-time, height $default-transition-time;
}

.player {
  &:not(.overlay-active) {
    &.state-paused,
    &.state-idle,
    &.hover {
      .interactive-area {
        //height: calc(100% - #{2 * $default-hovering-offset});
        //top: $default-hovering-offset;
      }
    }
  }
}
