.context-menu {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 40px;
  width: 260px;
  padding: 8px 16px;

  box-shadow:
    0px 4px 30px -8px rgba(0, 0, 0, 0.2),
    0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: rgba(51, 51, 51, 1);

  border-radius: 4px;
  font-family: $font-family;

  &.hidden {
    display: none;
  }

  .context-menu-item {
    cursor: pointer;
  }
}
