@mixin side-panel {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);
  transition: $affected-side-panel-transitions;
}

.vertical-side-panel {
  @include side-panel;
  height: 100%;

}

.vertical-side-panel-hidden {
  width: 0;
}

.horizontal-side-panel {
  @include side-panel;
}

.horizontal-side-panel-hidden {
  height: 0;
}

.side-panel-top {
  top: 0;
}

.side-panel-bottom {
  bottom: 0;
}

.side-panel-right {
  right: 0;
}

.side-panel-left {
  left: 0;
}

.side-panel-content {
  width: 100%;
  height: 100%;
}

