.loading-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 100ms opacity;
  opacity: 0;
  z-index: 5;

  &.show {
    opacity: 1;

    .spinner-container {
      display: block;
    }
  }

  .spinner-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
