$color: #ffffff;

.unmute-button-container {
  display: inline-block;
  position: absolute;
  z-index: 15;

  a {
    color: $color;
  }

  &.show-icon-only {
    .btn.unmute-button {
      max-width: 64px;

      span {
        transform: translateX(10px);
        opacity: 0;
        margin-left: 0;
        max-width: 0;
      }
    }
  }
}

.btn.unmute-button {
  font-size: 14px;
  max-width: 200px;
  transition: max-width 200ms;
  padding: 8px 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  border: none;

  span {
    transform: translateX(0px);
    max-width: 51px;
    opacity: 1;
    transition:
      max-width 100ms,
      transform 100ms,
      opacity 100ms;
    display: inline-block;
    color: $color;
    margin-left: 4px;
  }

  &.has-top-bar {
    transition: 100ms transform;
  }

  &:hover {
    border: none;
  }
}

.unmute-icon-container {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  position: relative;

  i {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.player.hover .unmute-button-container.has-top-bar,
.player.state-paused .unmute-button-container.has-top-bar,
.player.state-idle .unmute-button-container.has-top-bar,
.player.menu-active .unmute-button-container.has-top-bar {
  transform: translateY(32px);
}
