$color: #FFFFFF;

.unmute-button-container {
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 16px;
  z-index: 15;

  a {
    color: $color;
  }

  &.show-icon-only {

    .btn.unmute-button {
      max-width: 64px;

      span {
        transform: translateX(10px);
        opacity: 0;
      }
    }
  }
}

.btn.unmute-button {
  font-size: 15px;
  max-width: 200px;
  transition: max-width 200ms;
  padding: 0 16px;
  white-space: nowrap;

  span {
    transform: translateX(0px);
    opacity: 1;
    transition: transform 100ms, opacity 100ms;
    display: inline-block;
    color: $color;
  }

  &.has-top-bar {
    transition: 100ms transform;
  }
}

.unmute-icon-container {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 3px;

  i {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.player.hover .unmute-button-container.has-top-bar,
.player.state-paused .unmute-button-container.has-top-bar,
.player.menu-active .unmute-button-container.has-top-bar {
  transform: translateY(32px);
}
