.control-button-container.control-next {

  .poster-preview {
    position: absolute;
    bottom: 35px;
    width: 160px;
    height: 90px;
    display: none;
  }

  .poster-preview-img {
    height: 100%;
    background-size: cover;
    border-radius: 4px
  }

  &:hover {
    .poster-preview {
      display: block;
    }
  }

  .control-button {

    .icon-next {
      display: block;
    }
    .icon-next-disabled {
      display: none;
    }

    &:disabled {

      .icon-next {
        display: none;
      }
      .icon-next-disabled {
        display: block;
      }
    }
  }
}

