.live-tag {
  color: $live-color;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 19px;
  border: 2px solid $live-color;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0 3px 0 5px;
  margin: 5px 23px;
  cursor: default;

  &.non-live-playhead {
    background-color: rgba(255,255,255,0.2);
    border: none;
    color: #fff;
    line-height: 23px;
    padding: 0 5px 0 7px;
    cursor: pointer;
  }
}

.player.size-sm {
  .live-tag {
    margin-left: 0;
  }
}
