@keyframes openOverlay {
  from { opacity: 0; }
  to { opacity: 1; }
}

.overlay {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.42);
  z-index: 4;
  text-align: center;
  color: #fff;
  padding: 80px 20px 0;
  animation: openOverlay 100ms ease-in-out forwards;

  &.active {
    display: block;
    opacity: 1;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 60px;
  }
  .close-overlay {
    position: absolute;
    top: 48px; right: 48px;
    z-index: 5;
    fill: #fff;

    .icon-close {
      width:24px;
      height:24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    padding: 36px 20px 0;

    .close-overlay {
      top: 38px;
    }
    .title {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 480px) {
  .overlay {
    padding: 16px 24px 0;

    .close-overlay {
      top: 15px; right: 24px;
    }
    .title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 36px;
    }
  }
}
