.pre-playback-play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .pre-playback-play-button {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 108px;
    width: 108px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 54px;
    padding: 20px;
    cursor: pointer;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.4);
    }

    &:active {
      opacity: 0.7;
      transform: scale(1) translate(-50%, -50%);
    }

    &:focus {
      outline: 3px solid $tab-focus-color !important;
      box-shadow: 0 0 0 3px white !important;
      outline-offset: 3px;
    }
  }
}

.pre-playback {
  .bottom-bar,
  .top-bar {
    opacity: 0;
    display: none;
  }
}

.player {
  &.size-ty {
    .pre-playback-play-button {
      width: 75px;
      height: 75px;
      padding: 12px;
    }
  }
  &.size-xs {
    .pre-playback-play-button {
      width: 85px;
      height: 85px;
      padding: 15px;
    }
  }

  &.overlay-active {
    .gui-area {
      .pre-playback-play-overlay {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
