.player .time-display {
  display: inline-block;
  line-height: 36px;
  vertical-align: top;
  font-size: 14px;
  padding: 0 23px;
  font-weight: bold;
}

.touch .time-display {
  padding-left: 0;
}

.player {
  &.size-md {
    .time-display {
      padding: 0 12px;
    }
  }
  &.size-xs,
  &.size-sm {
    .time-display {
      padding: 0 12px 0 0;
    }
  }
}
