.player .time-display {
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  font-size: 14px;
  padding: 0 23px;
  font-weight: bold;
}

.touch .time-display {
  padding-left: 0;
}

.player {
  &.size-md,
  &.size-sm,
  &.size-xs {
    .time-display {
      padding: 0 12px;
    }
  }
}
