.player .top-bar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  padding: 14px 16px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 100ms opacity;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  .left-controls {
    text-align: left;
    min-width: 0;
  }
  .right-controls {
    text-align: left;

    .control-button-container {
      margin: 0 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.player.hover .top-bar,
.player.state-paused .top-bar,
.player.menu-active .top-bar {
  opacity: 1;
  visibility: visible;
}

.player.overlay-active .top-bar {
  opacity: 0;
  visibility: hidden;
}

.player.size-sm {
  .player .top-bar {
    padding: 8px 8px 20px 8px;
  }
}
