.player .tooltip {
  position: relative;
  display: inline-block;
  .tooltip-label {
    width: max-content;
    visibility: hidden;
    background-color: $tooltip-bg-color;
    color: $tooltip-color;
    text-align: center;
    padding: 4px 6px;
    border-radius: 4px;
    position: absolute;
    line-height: normal;
    font-weight: bold;
    font-size: 13px;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s;
    &:after {
      content: '';
      position: absolute;
      border-width: 5px;
      border-style: solid;
      border-radius: 3px;
      color: $tooltip-bg-color;
      z-index: -1;
    }
    &.tooltip-top {
      bottom: calc(100% + 10px);
      left: 50%;
      &:after {
        bottom: -4px;
        left: 50%;
        margin-left: -5px;
        transform: rotate(45deg) skew(5deg, 5deg);
      }
    }
    &.tooltip-top-left {
      bottom: calc(100% + 10px);
      left: 50%;
      &:after {
        bottom: -4px;
        right: 0;
        margin-right: 11px;
        transform: rotate(45deg) skew(5deg, 5deg);
      }
    }
    &.tooltip-top-right {
      bottom: calc(100% + 10px);
      left: 50%;
      &:after {
        bottom: -4px;
        left: 0;
        margin-left: 11px;
        transform: rotate(45deg) skew(5deg, 5deg);
      }
    }
    &.tooltip-bottom {
      top: calc(100% + 10px);
      left: 50%;
      &:after {
        top: -4px;
        left: 50%;
        margin-left: -5px;
        transform: rotate(45deg) skew(5deg, 5deg);
      }
    }
    &.tooltip-bottom-right {
      top: calc(100% + 10px);
      left: 50%;
      &:after {
        top: -4px;
        left: 0;
        margin-left: 11px;
        transform: rotate(45deg) skew(5deg, 5deg);
      }
    }
    &.tooltip-bottom-left {
      top: calc(100% + 10px);
      left: 50%;
      &:after {
        top: -4px;
        right: 0;
        margin-right: 11px;
        transform: rotate(45deg) skew(5deg, 5deg);
      }
    }
    &.tooltip-left {
      top: 50%;
      right: calc(100% + 10px);
      &:after {
        top: 50%;
        left: 100%;
        margin-left: -6px;
        margin-top: -5px;
        transform: rotate(135deg) skew(10deg, 10deg);
      }
    }
    &.tooltip-right {
      top: 50%;
      left: calc(100% + 10px);
      &:after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        margin-right: -6px;
        transform: rotate(135deg) skew(10deg, 10deg);
      }
    }
  }
}

.player .tooltip .tooltip-label {
  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    transition: all 0.15s ease-in-out;
  }
}
