.player {
  .btn-skip-ad {
    font-weight: lighter;
    position: absolute;
    bottom: 60px;
    right: 16px;
    line-height: 36px;
  }

  .skip-ad {
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    line-height: 24px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 66px;
    right: 16px;
  }
}
