.kp-btn-skip-ad {
  position: absolute;
  bottom: 60px; right: 16px;
}
.kp-skip-ad {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-shadow: 0 0 6px rgba(0,0,0,0.6);
  position: absolute;
  bottom: 66px; right: 16px;
}
